body {
    background: #011F26;
    height: 100vh;
    margin: 0;
    color: white;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    background-image: url('https://aguirre.github.io/RPS-Multiplayer/assets/images/rps.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #026873;
    text-align: center;
    height: 5em;
    width: 100%;
}

main {
    display: grid;
    place-items: center;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.board-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
    background-color: #F2668B;
    padding: 2em;
    border-radius: 10px;
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.checking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.computer-count,
.player-count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 5em;
}

button {
    font-size: 3em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.finalScore-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.replay {
    font-size: 1.25em;
    padding: .25em 1em;
}

.winner {
    font-size: 4em;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #026873;
    width: 100%;
    padding: 2em;
    text-align: center;
}

@media (max-width: 767px) {
    .checking {
        flex-direction: column;
        gap: .25rem;
    }
}